@charset "UTF-8";

#appCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.question {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 70%;
    height: auto;
}

.map{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    height: auto;
}

.btn {
    position: absolute;
    border: none;
    z-index: 2144480000;
}
.btn:focus {
    outline: none;
}
#drawLine.btn {
    background: center center / auto 98% no-repeat url("../img/draw_line_normal.png");
}
#drawLine.btn.active {
    background: center center / auto 98% no-repeat url("../img/draw_line_on.png");
}
#restart.btn {
    background: center center / auto 98% no-repeat url("../img/redo.png");
}
